<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fable</title>
    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap" rel="stylesheet">

    <!-- css -->
    <link rel="stylesheet" href="./dist/css/app.css">

</head>

<body>
    <div id="app">
        <header>
            <nav>
                <div class="container">
                    <div class="navbar_menu">
                        <div class="logo">
                            <img src="./dist/img/navbar/logo.png" alt="">
                        </div>

                        <div class="right_menu">
                            <div @click="selected" class="menu_el" v-for="(items, index) in navbarMenu"
                                v-if="index!=navbarIndex" :data-number="index">
                                <img :src="items.img_path" alt="">
                                <span>{{items.name}}</span>
                            </div>
                            <!-- nel caso in cui sia l'elemento attivo -->
                            <div v-else class="menu_el active">
                                <img :src="items.img_path_selected" alt="">
                                <span>{{items.name}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>

            <div class="header_slider">
                <img class="lego_img" src="./dist/img/slider_header/slider_slide3_img3.png" alt="">
                <img class="macchina_img" src="./dist/img/slider_header/slider_slide3_img2.png" alt="">

                <div class="position_carousel_selectors">
                    <div class="carousel_selectors">
                        <div class="carousel_selector"></div>
                        <div class="carousel_selector"></div>
                        <div class="carousel_selector selected"></div>
                    </div>
                </div>
            </div>
        </header>

        <main>
            <div class="call2act">
                <div class="container">
                    <div class="c2a">
                        <span>How to Enroll Your Child to a Class?</span>
                        <button>learn more ></button>
                    </div>
                </div>
            </div>

            <section id="welcome">
                <div class="container">
                    <div class="section_title">
                        <h2>Welcome to Fable</h2>
                        <span>Fable daycare, preschool, and kindergarten</span>
                        <img src="./dist/img/common/header_divider.png" alt="">
                    </div>
                </div>
            </section>
        </main>
    </div>
    <!-- vue csn -->
    <script src=" https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>

    <script src="./dist/js/app.js"></script>
</body>

</html>