<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fable</title>


    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap" rel="stylesheet">

    <!-- css -->
    <link rel="stylesheet" href="./dist/css/app.css">

    <script>
        function initMap() {
            const myLatLng = { lat: 45.396174, lng: -75.676592 };
            const map = new google.maps.Map(document.getElementById("map"), {
                zoom: 16,
                center: myLatLng,
            });
            new google.maps.Marker({
                position: myLatLng,
                map,
                title: "Hello World!",
            });
        }
    </script>

</head>

<body>
    <div id="app">
        <div @click="scroll_to_top" class="go_to_top">
            <img src="./dist/img/common/go_to_top.png" alt="">
        </div>
        <header>
            <nav>
                <div class="container">
                    <div class="navbar_menu">
                        <div class="logo">
                            <img src="./dist/img/navbar/logo.png" alt="">
                        </div>

                        <div class="right_menu">
                            <div @click="selected" class="menu_el" v-for="(items, index) in navbarMenu"
                                v-if="index!=navbarIndex" :data-number="index">
                                <img :src="items.img_path" alt="">
                                <span>{{items.name}}</span>
                            </div>
                            <!-- nel caso in cui sia l'elemento attivo -->
                            <div v-else class="menu_el active">
                                <img :src="items.img_path_selected" alt="">
                                <span>{{items.name}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>

            <div class="header_slider">
                <img class="lego_img" src="./dist/img/slider_header/slider_slide3_img3.png" alt="">
                <img class="macchina_img" src="./dist/img/slider_header/slider_slide3_img2.png" alt="">

                <div class="position_carousel_selectors">
                    <div class="carousel_selectors">
                        <div class="carousel_selector"></div>
                        <div class="carousel_selector"></div>
                        <div class="carousel_selector selected"></div>
                    </div>
                </div>
            </div>
        </header>

        <main>
            <div class="call2act">
                <div class="container">
                    <div class="c2a">
                        <span>How to Enroll Your Child to a Class?</span>
                        <button>learn more ></button>
                    </div>
                </div>
            </div>

            <section id="welcome">
                <div class="bg_primary">
                    <div class="container">
                        <!-- title -->
                        <div class="section_title">
                            <h2>Welcome to Fable</h2>
                            <span>Fable daycare, preschool, and kindergarten</span>
                            <img src="./dist/img/common/header_divider.png" alt="">
                        </div>

                        <div class="welcome_cards">
                            <div class="card">
                                <div class="img orange">
                                    <img src="./dist/img/welcome_fable/schoolbag_alt.png" alt="">
                                </div>
                                <h3>Morbi Etos</h3>
                                <span>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugiat, repudiandae quod
                                    laboriosam quam corrupti maiores neque sed maxime porro vitae! </span>
                            </div>
                            <div class="card">
                                <div class="img purple">
                                    <img src="./dist/img/welcome_fable/stroller_alt.png" alt="">
                                </div>
                                <h3>Congue Gravida</h3>
                                <span>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugiat, repudiandae quod
                                    laboriosam quam corrupti maiores neque sed maxime porro vitae!
                                    .</span>
                            </div>
                            <div class="card">
                                <div class="img orange">
                                    <img src="./dist/img/welcome_fable/globe_alt.png" alt="">
                                </div>
                                <h3>Maecenas Node</h3>
                                <span>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugiat, repudiandae quod
                                    laboriosam quam corrupti maiores neque sed maxime porro vitae!
                                </span>
                            </div>
                            <div class="card">
                                <div class="img purple">
                                    <img src="./dist/img/welcome_fable/bell_alt.png" alt="">
                                </div>
                                <h3>Prasent Morbi</h3>
                                <span>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugiat, repudiandae quod
                                    laboriosam quam corrupti maiores neque sed maxime porro vitae!
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="bg_secondary">
                    <div class="container flex">
                        <div class="left_side">
                            <div class="title_mission">
                                <button @click="welcomeSelect" :class="!welcomeIndex ? 'selected' : '' ">
                                    Overview</button>
                                <button @click="welcomeSelect" :class="welcomeIndex ? 'selected' : '' "> Our
                                    Mission</button>
                            </div>
                            <!-- Overview -->
                            <div v-if="!welcomeIndex" class="content">
                                <span class="message">{{welcomeText[welcomeIndex].content}}</span>
                                <div class="paragraph_welcome">
                                    <div class="icon">
                                        <img :src="welcomeText[welcomeIndex].img_path1" alt="">
                                    </div>
                                    <div class="overview_content">
                                        <span class="title">{{welcomeText[welcomeIndex].title1}}</span>
                                        <p>{{welcomeText[welcomeIndex].paragraph1}}</p>
                                    </div>
                                </div>
                                <div class="paragraph_welcome">
                                    <div class="icon">
                                        <img :src="welcomeText[welcomeIndex].img_path2" alt="">
                                    </div>
                                    <div class="overview_content">
                                        <span class="title">{{welcomeText[welcomeIndex].title2}}</span>
                                        <p>{{welcomeText[welcomeIndex].paragraph2}}</p>
                                    </div>

                                </div>
                            </div>

                            <!-- Our misssion -->
                            <div v-if="welcomeIndex" class="content">
                                <span class="message">{{welcomeText[welcomeIndex].content}}</span>
                                <div class="paragraph_welcome">
                                    <div class="icon">
                                        <img :src="welcomeText[welcomeIndex].img_path1" alt="">
                                    </div>
                                    <div class="overview_content">
                                        <span class="title">{{welcomeText[welcomeIndex].title1}}</span>
                                        <p>{{welcomeText[welcomeIndex].paragraph1}}</p>
                                    </div>
                                </div>
                                <div class="paragraph_welcome">
                                    <div class="icon">
                                        <img :src="welcomeText[welcomeIndex].img_path2" alt="">
                                    </div>
                                    <div class="overview_content">
                                        <span class="title">{{welcomeText[welcomeIndex].title2}}</span>
                                        <p>{{welcomeText[welcomeIndex].paragraph2}}</p>
                                    </div>

                                </div>

                            </div>
                            <div class="right_side">

                            </div>

                        </div>
                        <div class="right_side">
                            <div class="slider">
                                <div class="main_image">
                                    <img class="previous" @click="previous" src="./dist/img/common/slider_previous.png"
                                        alt="">
                                    <img class="next" src="./dist/img/common/slider_next.png" @click="next" alt="">
                                    <img class="main" :src="slider1_img[indexSlider1]" alt="">

                                </div>
                                <div class="small_images">
                                    <div @click="selectedSlider1" class="small_imgs" v-for="(img, index) in slider1_img"
                                        :data-number="index">
                                        <img :src="img" alt="" class="small_img" alt="">
                                        <div v-if="index==indexSlider1" class="selected"></div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="section_footer">
                    <div class="next" @click="nextFooter1">
                        <img src="./dist/img/common/slider_next.png" alt="">
                    </div>
                    <div class="previous" @click="previousFooter1">
                        <img src="./dist/img/common/slider_previous.png" alt="" class="">
                    </div>

                    <div class="container">
                        <div class="cards">
                            <div class="card">
                                <span class="number">507</span>
                                <span class="title">Our pupils</span>
                                <span class="paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                </span>
                            </div>
                            <div class="card">
                                <span class="number">235</span>
                                <span class="title">Teaching Hours</span>
                                <span class="paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                </span>
                            </div>
                            <div class="card">
                                <span class="number">100%</span>
                                <span class="title">Satisfied Parents</span>
                                <span class="paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                    Doloribus, numquam.</span>
                            </div>
                            <div class="card">
                                <span class="number">1050</span>
                                <span class="title">Meals per Year</span>
                                <span class="paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                    Doloribus, numquam.</span>
                            </div>
                            <div class="position_carousel_selectors">
                                <div class="carousel_selectors">
                                    <div class="carousel_selector selected"></div>
                                    <div class="carousel_selector"></div>
                                    <div class="carousel_selector"></div>
                                    <div class="carousel_selector"></div>
                                    <div class="carousel_selector"></div>
                                    <div class="carousel_selector"></div>
                                    <div class="carousel_selector"></div>
                                    <div class="carousel_selector "></div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </section>

            <!-- class section -->
            <section id="class">

                <div class="bg_primary">
                    <div class="container">
                        <!-- title -->
                        <div class="section_title">
                            <h2>Our Classes</h2>
                            <span>Our preschool has four dedicated classes</span>
                            <img src="./dist/img/common/header_divider.png" alt="">

                        </div>
                        <div class="text_classes">
                            <span class="left_span">We provide foour classes with nine to twenty children each aged
                                twelve month to ficve years of age.</span>
                            <span class="right_span">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum
                                corporis aut et eum est vel, voluptates voluptate earum cum veritatis voluptatum
                                consequuntur dicta commodi impedit Lorem ipsum dolor sit amet consectetur
                                adipisicing elit. Aliquam culpa reiciendis accusantium maiores </span>
                        </div>

                        <div class="cards">
                            <div class="card">
                                <div class="left_side">
                                    <div class="class_title">
                                        <span class="class_name">Little Lambs</span>
                                        <span class="class_descr">Class name</span>
                                    </div>

                                    <div class="class_age_size">
                                        <!-- age class -->
                                        <div class="age">
                                            <span class="numb">12-24</span>
                                            <span class="descr"> Month olds</span>
                                        </div>
                                        <!-- size class -->
                                        <div class="size">
                                            <span class="numb">9</span>
                                            <span class="descr">Class size </span>
                                        </div>
                                    </div>
                                </div>


                                <div class="right_side">
                                    <img src="./dist/img/our_classes/class_01-690x506.jpg" alt="">
                                    <button class="btn">read more ></button>
                                </div>
                            </div>

                            <div class="card">
                                <div class="left_side">
                                    <div class="class_title">
                                        <span class="class_name"> Bouncy Bears</span>
                                        <span class="class_descr">Class name</span>
                                    </div>

                                    <div class="class_age_size">
                                        <!-- age class -->
                                        <div class="age">
                                            <span class="numb">2-3</span>
                                            <span class="descr">years old</span>
                                        </div>
                                        <!-- size class -->
                                        <div class="size">
                                            <span class="numb">12</span>
                                            <span class="descr">Class size </span>
                                        </div>
                                    </div>
                                </div>


                                <div class="right_side">
                                    <img src="./dist/img/our_classes/class_02-690x506.jpg" alt="">
                                    <button class="btn">read more ></button>
                                </div>
                            </div>

                            <div class="card">
                                <div class="left_side">
                                    <div class="class_title">
                                        <span class="class_name">Tenderhearts</span>
                                        <span class="class_descr">Class name</span>
                                    </div>

                                    <div class="class_age_size">
                                        <!-- age class -->
                                        <div class="age">
                                            <span class="numb">3-4</span>
                                            <span class="descr">years old</span>
                                        </div>
                                        <!-- size class -->
                                        <div class="size">
                                            <span class="numb">15</span>
                                            <span class="descr">Class size </span>
                                        </div>
                                    </div>
                                </div>


                                <div class="right_side">
                                    <img src="./dist/img/our_classes/class_03-690x506.jpg" alt="">
                                    <button class="btn">read more ></button>
                                </div>
                            </div>

                            <div class="card">
                                <div class="left_side">
                                    <div class="class_title">
                                        <span class="class_name">Shining Stars</span>
                                        <span class="class_descr">Class name</span>
                                    </div>

                                    <div class="class_age_size">
                                        <!-- age class -->
                                        <div class="age">
                                            <span class="numb">4-5</span>
                                            <span class="descr">years old</span>
                                        </div>
                                        <!-- size class -->
                                        <div class="size">
                                            <span class="numb">20</span>
                                            <span class="descr">Class size </span>
                                        </div>
                                    </div>
                                </div>

                                <div class="right_side">
                                    <img src="./dist/img/our_classes/class_04-690x506.jpg" alt="">
                                    <button class="btn">read more ></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bg_secondary">
                    <div class="container">
                        <div class="left_side">
                            <h4>We have been educating children for over fifteen years. Our goal is to create a
                                place that engages each child</h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id non magni molestiae
                                laboriosam placeat consequuntur asperiores totam sint similique adipisci optio modi
                                et praesentium atque dolorem, facilis blanditiis fugit tempora!</p>

                            <ul>
                                <li> <img src="./dist/img/our_classes/style_1.png" alt="">Comprehensive reporting on
                                    individual achievement </li>
                                <li> <img src="./dist/img/our_classes/style_1.png" alt="">Educational field trips
                                    and school presentations </li>
                                <li> <img src="./dist/img/our_classes/style_1.png" alt="">Individual attention in a
                                    small-class setting </li>
                                <li> <img src="./dist/img/our_classes/style_1.png" alt="">Learning program with
                                    after-school care </li>
                                <li> <img src="./dist/img/our_classes/style_1.png" alt="">Opportunities to carry
                                    out scientifc investigations </li>
                                <li> <img src="./dist/img/our_classes/style_1.png" alt="">Positive learning
                                    enviroment for you chils </li>
                            </ul>
                        </div>
                        <div class="right_side">
                            <div class="cards">

                                <div class="card">
                                    <div class="img">
                                        <img src="./dist/img/our_classes/toy.png" alt="">
                                    </div>
                                    <span class="title">Learning & Fun</span>
                                    <span class="paragraph">Lorem ipsum dolor sit, amet consectetur adipisicing
                                        .</span>
                                </div>

                                <div class="card">
                                    <div class="img">
                                        <img src="./dist/img/our_classes/meal.png" alt="">
                                    </div>
                                    <span class="title">Healty Meals</span>
                                    <span class="paragraph">Lorem ipsum dolor sit, amet consectetur
                                        adipisicing.</span>
                                </div>

                                <div class="card">
                                    <div class="img">
                                        <img src="./dist/img/our_classes/school.png" alt="">
                                    </div>
                                    <span class="title">Friendly Place</span>
                                    <span class="paragraph">Lorem ipsum dolor sit, amet consectetur adipisicing
                                        .</span>
                                </div>

                                <div class="card">
                                    <div class="img">
                                        <img src="./dist/img/our_classes/shield.png" alt="">
                                    </div>
                                    <span class="title">Children safety</span>
                                    <span class="paragraph">Lorem ipsum dolor sit, amet consectetur adipisicing
                                        .</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section_footer2">
                    <img src="./dist/img/our_classes/gallery_01.jpg" alt="">
                    <img src="./dist/img/our_classes/gallery_02.jpg" alt="">
                    <img src="./dist/img/our_classes/gallery_03.jpg" alt="">
                    <img src="./dist/img/our_classes/gallery_04.jpg" alt="">

                </div>

            </section>

            <!-- staff section -->
            <section id="staff">
                <div class="bg_primary">
                    <div class="container">
                        <div class="section_title">
                            <h2>Meet Our Staff</h2>
                            <span>With education and experience in early childhood care</span>
                            <img src="./dist/img/common/header_divider.png" alt="">
                        </div>
                        <div class="text_classes">
                            <span class="left_span">Our staff consists of three teachers and one assistant with
                                experience in early childhood care.</span>

                            <span class="right_span">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum
                                corporis aut et eum est vel, voluptates voluptate earum cum veritatis voluptatum
                                consequuntur dicta commodi impedit Lorem ipsum dolor sit amet consectetur
                                adipisicing elit. Aliquam culpa reiciendis accusantium maiores </span>
                        </div>

                        <div class="cards">

                            <div class="card">
                                <div class="left_side">
                                    <img src="./dist/img/our_staff/team_04.jpg" alt="">
                                    <span class="staff_name">Ruth Richie</span>
                                    <span class="staff_rule">Teacher</span>
                                </div>
                                <div class="right_side">
                                    <div class="quotes">
                                        <img src="./dist/img/our_staff/quote.png" alt="">
                                    </div>
                                    <span class="she_said">I have just finisched my studies in Early Childhood Education
                                        and
                                        I am also the kid's yoga teacher here at Fabòe. I enjoy cooking swimming and
                                        bike
                                        riding</span>
                                    <div class="socials">
                                        <div class="icon">
                                            <img src="./dist/img/our_staff/icons/mail.png" alt="">
                                        </div>
                                        <div class="icon">
                                            <img src="./dist/img/our_staff/icons/facebook.png" alt="">
                                        </div>
                                        <div class="icon">
                                            <img src="./dist/img/our_staff/icons/pinterest.png" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card">
                                <div class="left_side">
                                    <img src="./dist/img/our_staff/team_03.jpg" alt="">
                                    <span class="staff_name">Katie Wilmore</span>
                                    <span class="staff_rule">Assistant Teacher</span>
                                </div>
                                <div class="right_side">
                                    <div class="quotes">
                                        <img src="./dist/img/our_staff/quote.png" alt="">
                                    </div>
                                    <span class="she_said">My name is Katie. I grew up and studied inCanada. This is my
                                        second year at Fable and love every minute of it, making the chilfren's learning
                                        experience fun</span>
                                    <div class="socials">
                                        <div class="icon">
                                            <img src="./dist/img/our_staff/icons/stumbleupon.png" alt="">
                                        </div>
                                        <div class="icon">
                                            <img src="./dist/img/our_staff/icons/stumbleupon.png" alt="">
                                        </div>
                                        <div class="icon">
                                            <img src="./dist/img/our_staff/icons/instagram.png" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card">
                                <div class="left_side">
                                    <img src="./dist/img/our_staff/team_02.jpg" alt="">
                                    <span class="staff_name">Angelica Watson</span>
                                    <span class="staff_rule">Lead Teacher</span>
                                </div>
                                <div class="right_side">
                                    <div class="quotes">
                                        <img src="./dist/img/our_staff/quote.png" alt="">
                                    </div>
                                    <span class="she_said">I hold degree in Early Childhood Education and an advanced
                                        English language certificate. I have been working as a kindergarten teacher
                                        since 2002 </span>
                                    <div class="socials">
                                        <div class="icon">
                                            <img src="./dist/img/our_staff/icons/bing.png" alt="">
                                        </div>
                                        <div class="icon">
                                            <img src="./dist/img/our_staff/icons/pinterest.png" alt="">
                                        </div>
                                        <div class="icon">
                                            <img src="./dist/img/our_staff/icons/linkedin.png" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="left_side">
                                    <img src="./dist/img/our_staff/team_01.jpg" alt="">
                                    <span class="staff_name">Angela Lynn</span>
                                    <span class="staff_rule">Teacher</span>
                                </div>
                                <div class="right_side">
                                    <div class="quotes">
                                        <img src="./dist/img/our_staff/quote.png" alt="">
                                    </div>
                                    <span class="she_said">I have completed a Graduate Diploma in Early Childhood
                                        Teaching. I have worked with children aged grow six weeks to eight years. This
                                        is my second year at Fable.</span>
                                    <div class="socials">
                                        <div class="icon">
                                            <img src="./dist/img/our_staff/icons/youtube.png" alt="">
                                        </div>
                                        <div class="icon">
                                            <img src="./dist/img/our_staff/icons/twitter.png" alt="">
                                        </div>
                                        <div class="icon">
                                            <img src="./dist/img/our_staff/icons/googleplus.png" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="section_footer">
                        <div class="next" @click="nextFooter2">
                            <img src="./dist/img/common/slider_next.png" alt="">
                        </div>
                        <div class="previous" @click="previousFooter2">
                            <img src="./dist/img/common/slider_previous.png" alt="" class="">
                        </div>
                        <div class="container">
                            <div class="img">
                                <img src="./dist/img/our_staff/quote_alt.png" alt="">
                            </div>
                            <span class="quotation">{{footer_slide2[indexFooter2].quotation}}</span>
                            <div class="divisor"></div>
                            <span class="name">{{footer_slide2[indexFooter2].name}}</span>


                        </div>

                        <div class="position_carousel_selectors">
                            <div class="carousel_selectors">
                                <div v-for="(carousel,index) in footer_slide2.length"
                                    :class="index== indexFooter2 ? 'carousel_selector selected': 'carousel_selector' ">
                                </div>
                            </div>

                        </div>
                    </div>
            </section>

            <section id="blog">
                <div class="bg_primary">
                    <div class="container">
                        <div class="section_title">
                            <h2>What's New</h2>
                            <span>Keep up to date with the latest news</span>
                            <img src="./dist/img/common/header_divider.png" alt="">
                        </div>

                        <div class="cards">
                            <div class="card">
                                <span class="date">October 03, 2014</span>
                                <div class="img">
                                    <img class="article_img" src="./dist/img/whats_new/blog_09-1024x614.jpg" alt="">
                                </div>
                                <h4>Drawing and Painting Lessons</h4>
                                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eaque temporibus excepturi
                                    quas voluptatibus architecto sed dolorum maxime fuga et unde.</p>
                                <div class="divisor"></div>
                                <div class="author_category">
                                    <div class="author">
                                        <img src="./dist/img/whats_new/author.png" alt="">
                                        <span>Anna brown</span>
                                    </div>
                                    <div class="category">
                                        <img src="./dist/img/whats_new/category.png" alt="">
                                        <span>Events, Fun</span>
                                    </div>
                                </div>
                            </div>

                            <div class="card">
                                <span class="date">October 03, 2014</span>
                                <div class="img">
                                    <img class="article_img" src="./dist/img/whats_new/blog_10-1024x614.jpg" alt="">
                                </div>
                                <h4>Fall Parents meeting Day</h4>
                                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eaque temporibus excepturi
                                    quas voluptatibus architecto sed dolorum maxime fuga et unde.</p>
                                <div class="divisor"></div>
                                <div class="author_category">
                                    <div class="author">
                                        <img src="./dist/img/whats_new/author.png" alt="">
                                        <span>Anna brown</span>
                                    </div>
                                    <div class="category">
                                        <img src="./dist/img/whats_new/category.png" alt="">
                                        <span>Dance, Education</span>
                                    </div>
                                </div>
                            </div>

                            <div class="card">
                                <span class="date">October 03, 2014</span>
                                <div class="img">
                                    <img class="article_img" src="./dist/img/whats_new/blog_08-1024x614.jpg" alt="">
                                </div>
                                <h4>Drawing and Painting Lessons</h4>
                                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eaque temporibus excepturi
                                    quas voluptatibus architecto sed dolorum maxime fuga et unde.</p>
                                <div class="divisor"></div>
                                <div class="author_category">
                                    <div class="author">
                                        <img src="./dist/img/whats_new/author.png" alt="">
                                        <span>Anna brown</span>
                                    </div>
                                    <div class="category">
                                        <img src="./dist/img/whats_new/category.png" alt="">
                                        <span>Games, General</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="button">
                            <button class="btn">go to blog <span> > </span></button>
                        </div>


                    </div>
                    <div id="map"></div>
                </div>
            </section>

            <section id="contact_us">
                <div class="bg_primary">
                    <div class="container">
                        <div class="section_title">
                            <h2>Contact Us</h2>
                            <span>Our Postal address and contact details</span>
                            <img src="./dist/img/common/header_divider.png" alt="">
                        </div>

                        <div class="cards">
                            <div class="card">
                                <div class="img">
                                    <img src="./dist/img/contact_us/document (1).png" alt="">
                                </div>
                                <h4>Postal Address</h4>
                                <span>Fable Care Center</span>
                                <span>85 Fentilman Ave</span>
                                <span>Ottawa. ON K1S0T7</span>
                            </div>
                            <div class="card">
                                <div class="img">
                                    <img src="./dist/img/contact_us/mobile.png" alt="">
                                </div>
                                <h4>Phone & E-mail</h4>
                                <span>Phone: 1-800-64-38</span>
                                <span>Fax: 1-800-64-39</span>
                                <a>office@fable.com</a>
                            </div>
                            <div class="card">
                                <div class="img">
                                    <img src="./dist/img/contact_us/clock.png" alt="">
                                </div>
                                <h4>Business Hours</h4>
                                <span>Monday-Friday</span>
                                <span>8.00 am - 5.00 pm</span>
                                <span>Weekend closed</span>
                            </div>
                            <div class="card">
                                <div class="img">
                                    <img src="./dist/img/contact_us/envelope (1).png" alt="">
                                </div>
                                <h4>Sessions</h4>
                                <span>Morning, 8am - 12 noon</span>
                                <span>afternoons, 1 pm - 5 pm</span>
                                <span>Full Day, 8 am - 5 pm</span>
                            </div>
                        </div>
                        <div class="form">
                            <div class="left_side">
                                <form>
                                    <input type="text" id="fname" name="fname" placeholder="Your Name *">
                                    <input type="email" id="fname" name="fname" placeholder="Your E-mail *">
                                    <input type="text" id="lname" name="lname" placeholder="Subject">
                                </form>
                            </div>
                            <div class=" right_side">
                                <form>
                                    <textarea name="" id="" cols="2" rows="10" placeholder="Your Message *"></textarea>

                                </form>
                            </div>
                            <div class="button">
                                <button class="btn">send message</button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>

        <footer>
            <div class="bg_purple">
                <div class="container">
                    <div class="cards">

                        <div class="card">
                            <h5>about us</h5>
                            <div class="divisor"></div>
                            <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima ut necessitatibus
                                omnis
                                est amet laudantium nulla fugit blanditiis consequuntur voluptatum?</span>
                            <div class="img">
                                <img class="logo" src="./dist/img/footer/logo_footer.png" alt="">
                            </div>
                        </div>

                        <div class="card">
                            <h5>archives</h5>
                            <div class="divisor"></div>
                            <div class="month_year">
                                <span>october 2014 (2)</span>
                                <span>september 2014 (2)</span>
                                <span>august 2014 (2)</span>
                                <span>july 2014 (2)</span>
                                <span>june 2014 (2)</span>
                                <span>may 2014 (1)</span>
                            </div>
                        </div>

                        <div class="card">
                            <h5>our features</h5>
                            <div class="divisor"></div>
                            <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima ut necessitatibus
                                omnis
                                est amet laudantium nulla </span>
                            <ul>
                                <li><img src="./dist/img/footer/style_4_alt.png" alt=""> Friendly and welcoming place
                                </li>
                                <li><img src="./dist/img/footer/style_4_alt.png" alt=""> Science and art classes</li>
                                <li><img src="./dist/img/footer/style_4_alt.png" alt=""> Positive learning enviroment
                                </li>
                                <li><img src="./dist/img/footer/style_4_alt.png" alt=""> Educational field trips</li>
                                <li><img src="./dist/img/footer/style_4_alt.png" alt=""> Writing and reading classes
                                </li>
                                <li><img src="./dist/img/footer/style_4_alt.png" alt=""> Science and art classes</li>

                            </ul>
                        </div>

                        <div class="card">
                            <h5>about us</h5>
                            <div class="divisor"></div>
                            <div class="post">
                                <div class="left_side">
                                    <div class="img">
                                        <img src="./dist/img/whats_new/blog_10-150x150.jpg" alt="">
                                    </div>
                                </div>
                                <div class="right_side">
                                    <span class="title">Drawing and Painting Lessons</span>
                                    <span class="date"> <img src="./dist/img/footer/date_footer.png" alt=""> October 03,
                                        2014</span>
                                </div>
                            </div>

                            <div class="post">
                                <div class="left_side">
                                    <div class="img">
                                        <img src="./dist/img/whats_new/blog_09-150x150.jpg" alt="">
                                    </div>
                                </div>
                                <div class="right_side">
                                    <span class="title">Fall Parents Meeting Day</span>
                                    <span class="date"> <img src="./dist/img/footer/date_footer.png" alt=""> October 03,
                                        2014</span>
                                </div>
                            </div>
                            <div class="post">
                                <div class="left_side">
                                    <div class="img">
                                        <img src="./dist/img/whats_new/blog_08-150x150.jpg" alt="">
                                    </div>
                                </div>
                                <div class="right_side">
                                    <span class="title">Birthday in Kindergarten</span>
                                    <span class="date"> <img src="./dist/img/footer/date_footer.png" alt=""> October 03,
                                        2014</span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="bg_primary">
                <div class="container">
                    <div class="socials">
                        <div class="img">
                            <img src="./dist/img/footer/behance.png" alt="">
                        </div>
                        <div class="img">
                            <img src="./dist/img/footer/dribbble.png" alt="">
                        </div>
                        <div class="img">
                            <img src="./dist/img/footer/envato.png" alt="">
                        </div>
                        <div class="img">
                            <img src="./dist/img/footer/facebook.png" alt="">
                        </div>
                        <div class="img">
                            <img src="./dist/img/footer/twitter.png" alt="">
                        </div>
                    </div>

                    <span class="copyright">Fable - Children Kindergarten WorPress Theme by QuanticaLabs</span>
                </div>
            </div>
        </footer>
    </div>


    <!-- vue cdn -->
    <script src=" https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>

    <script src="./dist/js/app.js"></script>
    <script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCopFG9nngR_IBzanorBDl8qPM7MZup7og&callback=initMap&libraries=&v=weekly"
        async></script>


</body>

</html>