.call2act{
    background-image: url('../img/common/pattern.png');
}
.c2a{
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;
    span{
        font-size: 2rem;
        color:$primary_body_bg_color;
        font-weight: 300;
    }
    button{
        @include button;
    }

}