#class{
    .text_classes{
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 2rem;
        .left_span{
            width: 50%;
            font-size: 1.8rem;
            
        }
        .right_span{
            width: 48.5%;
            color:$grey_text;

        }
    }

    .cards{
        display: flex;
        justify-content: space-between;
        width: 100%;
        flex-wrap: wrap;
        .card{
            display: flex;
            margin-bottom: 1.5rem;
            width: 48.5%;
            .left_side{
                display: flex;
                flex-direction: column;
                color: $primary_body_bg_color;
                width:50%;
                padding: 1rem;
                background-color: $primary_text_color;
                .class_title{
                    margin-bottom: 3rem;
                    .class_name{
                        display: block;
                        font-size: 1.4rem;
                    }
                    .class_descr{
                        font-size: 0.9rem;  
                    }
                }
                .class_age_size{
                    display: flex;
                    .age ,  .size{
                        width: 50%;
                        padding :0.5rem;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        .numb{
                            font-size: 1.2rem;
                        }
                        .descr{
                            font-size: 0.8rem;
                        }
                    }
                    .age{
                        border-right: 1px solid #8c8a8a;
                    }
                   
                }
            }

            .right_side{
                width: 50%;
                position: relative;
                img{
                    width: 100%;
                    height: 100%;
                }
                .btn{
                    position: absolute;
                    bottom: 0;
                    right: 0;
                 
                }
            }
        }
    }

    .bg_secondary{ 
        .container{
            display: flex;
        .left_side{
            width: 50%;
            &>*{
                margin-bottom: 2rem;
            }
            h4{
                font-size: 1.8rem;
            }
            p{
                line-height: 1.5rem;
                color: #8c8a8a;
            }
            ul>li{
                color: #8c8a8a;
                list-style: none;
                line-height: 1.6rem;
                img{
                    margin-right: 1rem;
                }
            }
        }
        .right_side{
            width: 50%;
            .cards{
                display: flex;
                flex-wrap: wrap;

                .card{
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    width: 50%;
                    text-align: center;
                    margin-bottom: 1.3rem;
                    &>*{
                        margin-bottom: 01.2
                        
                        rem;
                    }
                    .img{
                        width: 30%;
                        padding: 1.3rem;
                        background-color: $primary_body_bg_color;
                        border-radius: 100%;
                    }
                    .title{
                        font-size: 1.4rem;
                        font-weight: 400;
                    }
                    .paragraph{
                        color: #8c8a8a;
                    }
                }
            }
        }
   }
   }
   .section_footer2{
       display: flex;
       img{
           width:25%;
       }
   }
}