*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Lato', sans-serif;
    color:$primary_text_color
}
button{
    background: none;
	color: inherit;
	border: none;
	font: inherit;
}
@mixin reset_list {
    li{
        list-style: none;
        display: inline;
    } 
    li>a{
        text-decoration: none;
    }
}

.container{
    width: 1000px;
    margin: auto;
    padding: 2.5rem 0;
}
.flex{
    display: flex;
}

@mixin button {
    border: 1px solid $primary_body_bg_color;
    padding: 0.1rem 0.8rem;
    background-color: transparent ;
    text-transform: uppercase;
    color: $primary_body_bg_color ;
}

@mixin carousel_selector{
    
    position: absolute;
    bottom: 10%;
    right: 50%;
    transform: translate(50%,50%);
    

    div{
        display: flex;
        position: relative;
        div{
            height: 10px;
            width: 30px;
            border: 2px solid #fe6601;
            margin: 0.3rem ;
        }
        .selected{
            bottom:10px;
        }
    }
}

.section_title{

    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
    &>*{
        margin-bottom: 1rem;
    }
    h2{
       font-size: 2.5rem;
       font-weight: 300;
    }
    span{
        color:$grey_text
    }
  
}

.bg_primary{
background-color: $primary_body_bg_color;
}
.bg_secondary{
background-color: $secondary_body_bg_color;
}

.go_to_top{
    padding:0.5rem;
    background-color: #9B9B9B;
    position: fixed;
    bottom: 20px;
    right: 20px;
}
.btn{
    text-transform: uppercase;
    background-color: $orange;
    color: $primary_body_bg_color;
    padding: 0.7rem;
    font-weight: 700;
}