nav{
    .container{
        padding: 0;
    }
    background-color: $primary_body_bg_color;
    padding: 0 0.3rem;
    
    .navbar_menu{
        height: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo>img{
           height: 100px;
        }

        .right_menu{
            display: flex;
            .active{
            background-color: $orange;
            color:$primary_body_bg_color
            }
            .menu_el{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                height: 100%;
                width: 15%;
                padding:1rem;
                img{
                    height: 30px;
                    margin: 0.5rem;
                }
            }
        
        }
    }
}

.header_slider{
    height: 450px;
    width: 100%;
    background-image: url("../img/slider_header/slider_slide3_background.png");
    background-size:contain;
    position:relative;

    .lego_img{
        height: 80px;
        position: absolute;
        bottom: 15%;
        right: 20%;
    }

    .macchina_img{
        height: 130px;
        position: absolute;
        bottom: 15%;
        right: 55%;
    }

    .position_carousel_selectors{
        @include carousel_selector;
    }

}