#welcome{
    .container{
       
        .welcome_cards{
            display: flex;
            justify-content: space-between;
            margin-bottom: 2rem;
            .card{
                width: 24%;
                display: flex;
                flex-direction: column;
                text-align: center;
                padding: 1.3rem;
                &>*{
                    margin-bottom: 1rem;
                }
                .img{
                    padding: 3.5rem 0;
                    border-radius: 100%;
                }
                .orange{
                    background-color: $orange;
                }
                .purple{
                    background-color: $primary_text_color;
                }

                span{
                    color:$grey_text
                }

                
            }
        }
    }

    .left_side{
        width: 50%;
        padding-right: 1rem;
        .title_mission{
            button{
                padding: 1rem 2rem;
                color:#8c8a8a;
                margin-bottom: 2rem;

            }
            .selected{
                background-color: $orange;
                color: $primary_body_bg_color;
            } 
        }
        .content{
            .message{
                font-size: 1.8rem;
                margin-bottom: 1.5rem;
            }
            .paragraph_welcome{
                display: flex;
                align-items: center;
                margin: 1rem 0;
              .icon{
                  height: 70%;
                  margin-right: 1rem;
                  padding: 1.5rem;
                  border-radius: 100% ;
                  background-color: $orange;
              }
              .overview_content{
               
                  .title{
                      font-size: 1.2rem;
                      margin-bottom: 2rem;
                  }
                  p{
                      color: #8c8a8a;
                      margin-top: 1rem;
                      margin-bottom: 1.5rem;
                  }
              }
            }
        }
    }

    .right_side{
        width: 50%;
        .slider{
            height: 400px;
            .main_image{
                display: flex;
                height: 300px;
                position: relative;
                .previous{
                    position: absolute;
                    left: 0;
                    top:50%;
                    padding:0.2rem ;
                    background-color: $orange;
                }
                .next{
                    position: absolute;
                    right: 0;
                    top:50%;
                    background-color: $orange;
                }
                
                .main{
                    width: 100%;
                    margin-bottom:0.5rem ;
                }
            }
            .small_images{
                width: 100%;
                display: flex;
                justify-content: space-between;
                position:relative;
                
                .small_imgs{
                    width: 31.5%;
                   
                    .small_img{
                        width: 100%;
                        height: 100px;
                        
                    }
                    .selected{
                        height: 1px;
                        position: absolute;
                        bottom: -10px;
                        border-top: 5px solid  $orange;
                        width: 31.5%;
                    }
                }
            }
        }
    }

    .section_footer{
        background-image: url("../img/welcome_fable/parallax_01.jpg");
        background-size: cover;
        background-position: center;
        position: relative;

        .bg_img{
            position: absolute;
            top:0;
            left: 0;
            width: 100%;
            
        }

        .next, .previous{
            opacity: 0;
            position: absolute;
            padding: 2rem;
            top: 50%;
            background-color: rgba(0,0,0,0.4);
            border-radius: 100%;
        }
        .next{
            right: 24px;
            transform: translate(-50%,-50%);
        }
        .previous{
            left: 24px;
            transform: translate(50%,-50%);

        }
        
            .cards{
                position: relative;
                width: 100%;
            display: flex;
            justify-content: space-between;
            .card{
                text-align: center;
                display: flex;
                flex-direction: column;
                width: 20%;
                padding:1rem;
                color: $grey_text;
                &>*{
                    margin-bottom: 1.5rem;
                }
                .number{
                    font-weight: 300;
                    padding: 3rem 1rem;
                    font-size: 3rem;
                    border-radius: 100%;
                    border: 1px solid$grey_text;
                }
                .title{
                    font-size: 1.3rem;
                    font-weight: 600;
                }
                
            }
            .position_carousel_selectors{
                @include carousel_selector;
                bottom:0;
                div{
                    div{
                       border: 2px solid $grey_text;

                    }
                }
            }
        
        }
            
        }
    
}